/* ---------------------
    font
-----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


/* ---------------------
    common style
-----------------------*/
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 16px;
    font-weight: 100;
}

.container {
    width: 1200px;
    display: flex;
}

/* ---------------------
    top header style
-----------------------*/
header {
    margin-top: 2%;
}

.header-design {
    padding: 30px 20px 0;
    background-color: #161616;
    color: white;
    border-radius: 20px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
}

.half-width img {
    width: 100%
}

.live-button {
    text-decoration: none;
    background-color: rgb(9, 60, 230);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.live-button i {
    margin-left: 10px;
}


/* ---------------------
    main section style
-----------------------*/
.box {
    width: 250px;
    border: 2px solid red;
}

.button-group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    padding: 20px;
    background-color: #161616;

}

.buttons button {
    width: 200px;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
}

#active {
    background-color: red;
    color: white;
    border: 0;
}

#blogs {
    flex-grow: 1;
}