/* ---------------------
    font
-----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


/* ---------------------
    common style
-----------------------*/
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 16px;
    font-weight: 100;
}

.container {
    width: 1200px;
    display: flex;
}

/* ---------------------
    top header style
-----------------------*/
header {
    margin-top: 2%;
}

.header-design {
    padding: 30px 0 20px;
    background-color: #161616;
    color: white;
    border-radius: 20px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
}

.half-width img {
    width: 100%
}

.live-button {
    text-decoration: none;
    background-color: rgb(9, 60, 230);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.live-button i {
    margin-left: 10px;
}


/* ---------------------
    main section style
-----------------------*/
main {
    margin-top: 8%;
}

.box {
    width: 250px;
    height: 200px;
}

/* button style */
.button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #161616;
}

.buttons button {
    width: 200px;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
}

#active {
    background-color: rgb(9, 60, 230);
    color: white;
    border: 0;
}


/* blog style */
#blogs {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 40px;
}

.blog {
    border: 1px solid rgb(243, 230, 230);
    border-radius: 20px;
}

.blog-banner img {
    width: 100%;
}

.blog-details {
    padding: 20px;
}

.blog-info>i {
    margin-right: 15%;
}