/* ---------------------
    font
-----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


/* ---------------------
    common style
-----------------------*/
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5vw;
}

p {
    font-size: 16px;
    font-weight: 100;
}

.container {
    width: 1200px;
    display: flex;
}

.button-style {
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(9, 60, 230);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.button-style i {
    margin-left: 10px;
}

.white-color-text {
    color: white;
}

/* ---------------------
    top header style
-----------------------*/
header {
    margin-top: 2%;
}

.top-header {
    padding: 30px 0 80px;
    background-color: #161616;
    border-radius: 20px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
}

.half-width img {
    width: 90%;
}

/* button animation and hover */
@keyframes button {
    0% {
        transform: scale(1);
        color: red;
    }

    100% {
        transform: scale(1.2);
        color: white;
    }
}

.top-header a {
    display: inline-block;
    animation: button 0.8s ease-in-out 0s infinite alternate;
    animation-play-state: running;
}

.top-header a:hover {
    animation: none;
}

/* ---------------------
    main section style
-----------------------*/
section {
    margin-top: 10%;
}

.box {
    width: 250px;
    height: 100%;
}

/* left side button group style */
.button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 40px;
    border-radius: 10px;
    background-color: #161616;
}

.button-group button {
    width: 200px;
    background-color: white;
    color: black;
    border: 1px solid rgba(202, 199, 199, 0.5);
}

#active {
    background-color: rgb(9, 60, 230);
    color: white;
    border: 0;
}


/* blog style */
#blogs {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 40px;
}

.blog {
    border: 1px solid rgb(243, 230, 230);
    border-radius: 20px;
}

.blog-banner img {
    width: 100%;
}

.blog-details {
    padding: 20px;
}

.blog-info>i {
    margin-right: 15%;
}


/* ----------------------------------
    view all button section style
------------------------------------*/
.view-all-button-section {
    display: none;
}


/* ---------------------
    footer style
-----------------------*/
footer {
    margin-top: 10%;
}

.footer-container {
    background-color: #161616;
    text-align: center;
    padding: 50px;
}

.footer-title h2 {
    font-size: 40px;
    margin-left: 30px;
}

.footer-details {
    margin-top: 50px;
}

.footer-details ul {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.footer-details ul li {
    list-style: none;
}

.footer-details ul li a {
    text-decoration: none;
    color: grey;
}


/* ---------------------
    media queries
-----------------------*/

/* mobile device */
@media only screen and (max-width:767px) {
    body {
        margin: 0 8px;
    }

    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }

    /* top header style */
    header {
        text-align: center;
    }

    header p {
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* left side button group style */
    .button-group {
        background-color: white;
    }

    /* blogs style */
    #blogs {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
    }

    #blogs h2 {
        font-size: 15px;
    }

    /* footer style */
    #menubar-list {
        flex-direction: column;
        row-gap: 20px;
    }
}


/* tablet device */
@media only screen and (min-width:768px) and (max-width:992px) {
    body {
        margin: 0 8px;
    }

    .container {
        width: 100%;
    }

    /* top header style */
    header p {
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* main section style */
    section {
        margin-top: 5%;
    }

    .box {
        width: 100%;
    }

    #responsive-container {
        flex-direction: column;
    }

    /* left side button group style */
    .button-group {
        flex-direction: row;
        column-gap: 20px;
        background-color: white;
    }

    /* blogs style */
    #blogs {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0;
    }

    /* view all button section style */
    .view-all-button-section {
        display: inline-block;
        text-align: center;
    }

    /* footer style */
    #menubar-list {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}